body{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  /*background-color: rgb(231, 231, 231);*/
  background-color: #926AA6;
  padding-bottom: 0;
  margin-top:10px;
  margin-bottom:0;
}
/*
 *  Footer Decoration
 */
.footer{
  display:flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  background-color:#EFE1CE;
  width:100vw;
  padding:20px;
  border:3px solid black;

}

/*
  Main Body
*/
.control-panel{
  display:flex;
  gap:5em;
}

/*
  Rules and List
*/
.title, .rules{
  border-radius:10px;
}
.rules{
  height: 30vh;
  background-color:#EFE1CE;
  padding:10px;
  border:5px solid black;
  
}
.rules h2{
  text-decoration: underline;
  
}
.rules ul{
  padding:0;
  margin-left:20px;
}
.rules li{
  font-size:20px;
  margin-bottom:10px;
}
.title{
  display:flex;
  justify-content: center;
  font-size:22px;
  font-weight: bold;
  color:maroon;
  border:4px solid black;
  width:50vw;
  background-color:#EFE1CE;
}

.container{
  width: 95vmin;
  height:95vmin;
  box-sizing:border-box;
  background-color: orange;
  border-style: solid;
  border-color:red;
  border-width: 20px 20px 60px 20px;
  
}

.grid {
    display: grid;
    height: 100%;
}

.control-panel .container .grid .gridItem {
    border: 0.5px solid black;
    background-color: rgb(229, 215, 215);
}


.etch-controls .slider{
  padding:2px;
}

button{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height:50px;
  padding:10px;
  border-radius:50%;
}
button:active{
  border-width: 5px;
  border-color:coral;
}
.change{
  background-color:aqua;
}

.grid, .gridItem {
    padding: 0;
    margin: 0;
}
.controls{
  margin-top:5px;
}
.etch-controls{
  display:flex;
  justify-content: space-between;
}


.control-panel .container .grid .etching {
  background-color:rgb(0, 0, 0);
}



.slider-controls{
  margin-top:5px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.slider-output{
  font-size: 15px;
}
